<style data-type="woodmart_shortcodes-custom-css">
  #wd-5f7005f92c815 .woodmart-text-block {
    line-height: 26px;
    font-size: 16px;
    color: #333333;
  }

  #wd-5f9026ee5c091 .woodmart-title-container {
    line-height: 65px;
    font-size: 55px;
    color: #c89454;
  }

  #wd-5f9026ee5c091 .title-after_title {
    line-height: 40px;
    font-size: 30px;
    color: #333333;
  }

  #wd-5f902706e3e44 .woodmart-title-container {
    line-height: 65px;
    font-size: 55px;
    color: #c89454;
  }

  #wd-5f902706e3e44 .title-after_title {
    line-height: 40px;
    font-size: 30px;
    color: #333333;
  }

  #wd-5f7006065abe6 .woodmart-text-block {
    line-height: 26px;
    font-size: 16px;
    color: #333333;
  }

  #wd-5f61fb273a1c4 .woodmart-text-block {
    color: #c89454;
  }

  #wd-5f62030fe4f92 .woodmart-text-block {
    line-height: 26px;
    font-size: 16px;
    color: #000000;
  }

  #wd-5f61fd4f9d1e7 .woodmart-title-container {
    color: #c89454;
  }

  #wd-5f61fd4f9d1e7 .title-after_title {
    line-height: 26px;
    font-size: 16px;
    color: #333333;
  }

  #wd-5f6202d5c0668 .woodmart-text-block {
    line-height: 26px;
    font-size: 16px;
    color: #000000;
  }

  #wd-5f6200a37bd15 .woodmart-title-container {
    color: #c89454;
  }

  #wd-5f6200a37bd15 .title-after_title {
    line-height: 26px;
    font-size: 16px;
    color: #333333;
  }

  #wd-5f6202ea936b5 .woodmart-text-block {
    line-height: 26px;
    font-size: 16px;
    color: #000000;
  }

  #wd-5f986054ea7f3 .woodmart-title-container {
    color: #c89454;
  }

  #wd-5f986054ea7f3 .title-after_title {
    line-height: 26px;
    font-size: 16px;
    color: #333333;
  }

  #wd-5f6202f40108b .woodmart-text-block {
    line-height: 26px;
    font-size: 16px;
    color: #000000;
  }

  #wd-5f8e11e116647 .woodmart-title-container {
    color: #c89454;
  }

  #wd-5f8e11e116647 .title-after_title {
    line-height: 26px;
    font-size: 16px;
    color: #333333;
  }

  #wd-5f6203046913e .woodmart-text-block {
    line-height: 26px;
    font-size: 16px;
    color: #000000;
  }

  @media (max-width: 1024px) {
    #wd-5f7005f92c815 .woodmart-text-block {
      line-height: 24px;
      font-size: 14px;
    }

    #wd-5f9026ee5c091 .woodmart-title-container {
      line-height: 45px;
      font-size: 35px;
    }

    #wd-5f9026ee5c091 .title-after_title {
      line-height: 35px;
      font-size: 25px;
    }

    #wd-5f902706e3e44 .woodmart-title-container {
      line-height: 45px;
      font-size: 35px;
    }

    #wd-5f7006065abe6 .woodmart-text-block {
      line-height: 24px;
      font-size: 14px;
    }

    #wd-5f62030fe4f92 .woodmart-text-block {
      line-height: 24px;
      font-size: 14px;
    }

    #wd-5f6202d5c0668 .woodmart-text-block {
      line-height: 24px;
      font-size: 14px;
    }

    #wd-5f6202ea936b5 .woodmart-text-block {
      line-height: 24px;
      font-size: 14px;
    }

    #wd-5f6202f40108b .woodmart-text-block {
      line-height: 24px;
      font-size: 14px;
    }

    #wd-5f6203046913e .woodmart-text-block {
      line-height: 24px;
      font-size: 14px;
    }
  }

  @media (max-width: 767px) {
    #wd-5f7005f92c815 .woodmart-text-block {
      line-height: 24px;
      font-size: 14px;
    }

    #wd-5f9026ee5c091 .woodmart-title-container {
      line-height: 35px;
      font-size: 25px;
    }

    #wd-5f9026ee5c091 .title-after_title {
      line-height: 30px;
      font-size: 20px;
    }

    #wd-5f902706e3e44 .woodmart-title-container {
      line-height: 35px;
      font-size: 25px;
    }

    #wd-5f7006065abe6 .woodmart-text-block {
      line-height: 24px;
      font-size: 14px;
    }

    #wd-5f62030fe4f92 .woodmart-text-block {
      line-height: 24px;
      font-size: 14px;
    }

    #wd-5f6202d5c0668 .woodmart-text-block {
      line-height: 24px;
      font-size: 14px;
    }

    #wd-5f6202ea936b5 .woodmart-text-block {
      line-height: 24px;
      font-size: 14px;
    }

    #wd-5f6202f40108b .woodmart-text-block {
      line-height: 24px;
      font-size: 14px;
    }

    #wd-5f6203046913e .woodmart-text-block {
      line-height: 24px;
      font-size: 14px;
    }
  }
</style>
<style type="text/css"
       data-type="vc_custom-css">
  @media only screen and (max-width: 768px) {
    div.about-row-1-inner {
      align-items: flex-start !important;
    }
  }

  .grand-opening-row {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 10%, rgba(251, 242, 233, 1) 10%, rgba(251, 242, 233, 1) 86%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
  }

  @media only screen and (max-width: 768px) {
    .grand-opening-row {
      background: #fbf2e9;
      padding-top: 80px;
    }
  }
</style>
<style type="text/css"
       data-type="vc_shortcodes-custom-css">
  .vc_custom_1600257043689 {
    padding-top: 3vh !important;
    padding-bottom: 3vh !important;
  }

  .vc_custom_1600257281833 {
    padding-top: 2vh !important;
    padding-bottom: 2vh !important;
    background-color: #fbf2e9 !important;
  }

  .vc_custom_1600258029297 {
    margin-bottom: 30px !important;
  }

  .vc_custom_1600990967830 {
    margin-bottom: 30px !important;
  }

  .vc_custom_1603821698595 {
    margin-bottom: 30px !important;
  }
</style>