<style data-type="woodmart_shortcodes-custom-css">
  #wd-5fa02742c51d8 .list-icon {
    color: #c89454;
  }

  #wd-5f620707a8fa8 .woodmart-title-container {
    color: #c89454;
  }

  #wd-5f6207ba4349e .list-icon {
    color: #c89454;
  }
</style>
<style type="text/css"
       data-type="vc_shortcodes-custom-css">
  .vc_custom_1600259214635 {
    padding-top: 3vh !important;
    padding-bottom: 3vh !important;
  }

  .vc_custom_1600260298811 {
    padding-top: 3vh !important;
    padding-bottom: 3vh !important;
    background-color: #fbf2e9 !important;
  }
</style>