<style data-type="woodmart_shortcodes-custom-css">
  #wd-5f75d6f7af609 .woodmart-title-container {
    line-height: 65px;
    font-size: 55px;
    color: #333333;
  }

  #wd-5f75d6f7af609 .title-subtitle {
    line-height: 38px;
    font-size: 28px;
    color: #333333;
  }

  #wd-5f563d50e1f02 .woodmart-title-container {
    line-height: 55px;
    font-size: 45px;
    color: #c89454;
  }

  #wd-5f563d50e1f02 .title-subtitle {
    line-height: 26px;
    font-size: 16px;
    color: #333333;
  }

  #wd-5f563d599d899 .woodmart-text-block {
    line-height: 24px;
    font-size: 14px;
    color: #7b7b7b;
  }

  #wd-5f8e1186af511 .woodmart-text-block {
    line-height: 26px;
    font-size: 16px;
    color: #7b7b7b;
  }

  #wd-5f7604a48bbac .woodmart-title-container {
    line-height: 55px;
    font-size: 45px;
    color: #c89454;
  }

  #wd-5f7604a48bbac .title-subtitle {
    line-height: 26px;
    font-size: 16px;
    color: #333333;
  }

  #wd-5f9792fd24222 a {
    background-color: #c89454;
    border-color: #c89454;
  }

  #wd-5f9792fd24222 a:hover {
    background-color: #c89454;
    border-color: #c89454;
  }

  #wd-5f75d00882385 .banner-title {
    line-height: 32px;
    font-size: 22px;
    color: #ffffff;
  }

  #wd-5f75d01931cd5 .banner-title {
    line-height: 32px;
    font-size: 22px;
    color: #ffffff;
  }

  #wd-5f75d02767175 .banner-title {
    line-height: 32px;
    font-size: 22px;
    color: #ffffff;
  }

  #wd-5f563d9fb03fd .woodmart-title-container {
    line-height: 55px;
    font-size: 45px;
    color: #c89454;
  }

  #wd-5f563d9fb03fd .title-subtitle {
    line-height: 26px;
    font-size: 16px;
    color: #333333;
  }

  #wd-5f75c08ac1576 .info-box-title {
    line-height: 34px;
    font-size: 24px;
    color: #c89454;
  }

  #wd-5f75c08ac1576 .info-box-inner {
    line-height: 25px;
    font-size: 15px;
    color: #333333;
  }

  #wd-5f979333c4408 .info-box-title {
    line-height: 34px;
    font-size: 24px;
    color: #c89454;
  }

  #wd-5f979333c4408 .info-box-inner {
    line-height: 25px;
    font-size: 15px;
    color: #333333;
  }

  #wd-5f563da684d26 .woodmart-title-container {
    line-height: 55px;
    font-size: 45px;
    color: #c89454;
  }

  #wd-5f563da684d26 .title-subtitle {
    line-height: 26px;
    font-size: 16px;
    color: #333333;
  }

  #wd-5f563db4a5109 .woodmart-title-container {
    line-height: 55px;
    font-size: 45px;
    color: #c89454;
  }

  #wd-5f563db4a5109 .title-subtitle {
    line-height: 26px;
    font-size: 16px;
    color: #333333;
  }

  @media (max-width: 1024px) {
    #wd-5f75d6f7af609 .woodmart-title-container {
      line-height: 60px;
      font-size: 50px;
    }

    #wd-5f75d6f7af609 .title-subtitle {
      line-height: 36px;
      font-size: 26px;
    }

    #wd-5f563d50e1f02 .woodmart-title-container {
      line-height: 50px;
      font-size: 40px;
    }

    #wd-5f563d50e1f02 .title-subtitle {
      line-height: 24px;
      font-size: 14px;
    }

    #wd-5f7604a48bbac .woodmart-title-container {
      line-height: 50px;
      font-size: 40px;
    }

    #wd-5f7604a48bbac .title-subtitle {
      line-height: 24px;
      font-size: 14px;
    }

    #wd-5f75d00882385 .banner-title {
      line-height: 24px;
      font-size: 14px;
    }

    #wd-5f75d01931cd5 .banner-title {
      line-height: 24px;
      font-size: 14px;
    }

    #wd-5f75d02767175 .banner-title {
      line-height: 24px;
      font-size: 14px;
    }

    #wd-5f563d9fb03fd .woodmart-title-container {
      line-height: 50px;
      font-size: 40px;
    }

    #wd-5f563d9fb03fd .title-subtitle {
      line-height: 24px;
      font-size: 14px;
    }

    #wd-5f563da684d26 .woodmart-title-container {
      line-height: 50px;
      font-size: 40px;
    }

    #wd-5f563da684d26 .title-subtitle {
      line-height: 24px;
      font-size: 14px;
    }

    #wd-5f563db4a5109 .woodmart-title-container {
      line-height: 50px;
      font-size: 40px;
    }

    #wd-5f563db4a5109 .title-subtitle {
      line-height: 24px;
      font-size: 14px;
    }
  }

  @media (max-width: 767px) {
    #wd-5f75d6f7af609 .woodmart-title-container {
      line-height: 55px;
      font-size: 45px;
    }

    #wd-5f75d6f7af609 .title-subtitle {
      line-height: 34px;
      font-size: 24px;
    }

    #wd-5f563d50e1f02 .woodmart-title-container {
      line-height: 46px;
      font-size: 36px;
    }

    #wd-5f563d50e1f02 .title-subtitle {
      line-height: 24px;
      font-size: 14px;
    }

    #wd-5f8e1186af511 .woodmart-text-block {
      line-height: 24px;
      font-size: 14px;
    }

    #wd-5f7604a48bbac .woodmart-title-container {
      line-height: 46px;
      font-size: 36px;
    }

    #wd-5f7604a48bbac .title-subtitle {
      line-height: 24px;
      font-size: 14px;
    }

    #wd-5f75d00882385 .banner-title {
      line-height: 24px;
      font-size: 14px;
    }

    #wd-5f75d01931cd5 .banner-title {
      line-height: 24px;
      font-size: 14px;
    }

    #wd-5f75d02767175 .banner-title {
      line-height: 24px;
      font-size: 14px;
    }

    #wd-5f563d9fb03fd .woodmart-title-container {
      line-height: 46px;
      font-size: 36px;
    }

    #wd-5f563d9fb03fd .title-subtitle {
      line-height: 24px;
      font-size: 14px;
    }

    #wd-5f563da684d26 .woodmart-title-container {
      line-height: 46px;
      font-size: 36px;
    }

    #wd-5f563da684d26 .title-subtitle {
      line-height: 24px;
      font-size: 14px;
    }

    #wd-5f563db4a5109 .woodmart-title-container {
      line-height: 46px;
      font-size: 36px;
    }

    #wd-5f563db4a5109 .title-subtitle {
      line-height: 24px;
      font-size: 14px;
    }
  }
</style>
<style type="text/css"
       data-type="vc_custom-css">
  .hero-section {
    min-height: 500px;
    height: 95vh;
  }

  .featured-services .vc_column-inner {
    padding: 0px !important;
  }

  .featured-services .banner-hover-border:not(.banner-border) .wrapper-content-banner::after {
    border: 2px solid #C89454 !important;
  }

  .featured-services h4.banner-title {
    text-transform: uppercase;
  }

  .meet-the-team .info-box-title {
    margin: 0;
  }

  .newsletter-row .mc4wp-form-fields input[type="email"] {
    background: white;
    box-shadow: 0px 4px 10px rgba(158, 158, 158, 0.25);
  }

  .newsletter-row .mc4wp-form-fields input[type="submit"] {
    text-transform: none;
  }

  .newsletter-row .mc4wp-form-fields {
    flex-direction: column;
    align-items: center;
  }

  .newsletter-row .mc4wp-form>div>p {
    flex: 1 1 1px !important;
    margin-bottom: 15px !important;
    max-width: 420px !important;
  }

  .testimonials-row .testimonial-content {
    font-size: 16px;
  }

  .testimonials-row .testimonial-content footer {
    font-family: Cinzel;
    font-size: 22px;
  }

  @media only screen and (max-width: 1024px) {
    div.meet-the-team-row {
      margin-right: 10px !important;
      margin-left: 10px !important;
    }
  }

  @media only screen and (max-width: 768px) {
    div.newsletter-row {
      padding-top: 0vh !important;
      padding-bottom: 10vh !important;
    }

    div.banner-title-text .woodmart-title-container {
      line-height: 45px !important;
    }
  }


  @media only screen and (max-width: 767px) {
    div.hero-section {
      background-position: 15% 100% !important;
    }
  }

  @media only screen and (max-width: 425px) {
    .banner-title-text div.title-subtitle {
      color: #fff !important;
    }

    .banner-title-text .woodmart-title-container {
      color: #fff !important;
    }
  }
</style>
<style type="text/css"
       data-type="vc_shortcodes-custom-css">
  .vc_custom_1599478996711 {
    padding-top: 15vh !important;
    padding-bottom: 15vh !important;
    background-image: url(./assets/img/Homefeature1_New-1.png?id=26) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }

  .vc_custom_1599478605047 {
    padding-top: 8vh !important;
    padding-bottom: 8vh !important;
  }

  .vc_custom_1599479956042 {
    padding-top: 8vh !important;
  }

  .vc_custom_1601558508988 {
    padding-top: 15vh !important;
    padding-bottom: 15vh !important;
    background-image: url(./assets/img/Meet-the-Team_NEW-1.png?id=48) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }

  .vc_custom_1599484847113 {
    padding-top: 15vh !important;
    padding-bottom: 45vh !important;
    background-image: url(./assets/img/NewsletterBG_NEW2-1.png?id=53) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }

  .vc_custom_1599486640402 {
    padding-top: 10vh !important;
    padding-bottom: 25vh !important;
    background-image: url(./assets/img/Testi_NEW2-1.png?id=57) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }

  .vc_custom_1599480696189 {
    margin-top: 5vh !important;
  }
</style>