<div class="container-fluid bg-dark text-white pt-5">

  <div class="d-flex justify-content-around">
    <table class="table table-borderless table-sm text-white" style="max-width: 400px;">
      <thead>
        <tr><th class="h5 text-secondary">CONTACT US</th></tr>
      </thead>
      <tbody class="small">
        <tr><td>1699 US Hwy 41, Fowler, IN 47944</td></tr>
        <tr><td>(219) 798-0273</td></tr>
        <tr><td>Send A Message</td></tr>
      </tbody>
    </table>

    <table class="table table-borderless table-sm text-white" style="max-width: 300px;">
      <thead>
        <tr>
          <th colspan="2" class="h5 text-secondary">HOURS OF OPERATION</th>
        </tr>
      </thead>
      <tbody class="small">
        <tr>
          <td>Weekdays</td>
          <td>9:00 AM - 5:00 PM</td>
        </tr>
        <tr>
          <td>Weekends</td>
          <td>Closed</td>
        </tr>
    </table>
  </div>

  <div class="text-center pb-5">© 2020 - Borrowed Time EAP - All Rights Reserved.</div>
</div>