<!-- HEADER -->
<header class="whb-header whb-overcontent whb-sticky-shadow whb-scroll-stick whb-sticky-real">

  <div class="whb-main-header">

    <div
         class="whb-row whb-general-header whb-not-sticky-row whb-without-bg whb-without-border whb-color-dark whb-flex-flex-middle">
      <div class="container">
        <div class="whb-flex-row whb-general-header-inner">
          <div class="whb-column whb-col-left whb-visible-lg">
            <div class="site-logo">
              <div class="woodmart-logo-wrap">
                <a href="#"
                   class="woodmart-logo woodmart-main-logo"
                   rel="home">
                  <img src="./assets/img/borrowedtimeaeap-logo-01.png"
                       alt="Borrowed Time EAP"
                       style="max-width: 300px;"> </a>
              </div>
            </div>
          </div>
          <div class="whb-column whb-col-center whb-visible-lg whb-empty-column">
          </div>
          <div class="whb-column whb-col-right whb-visible-lg">
            <div class="whb-navigation whb-primary-menu main-nav site-navigation woodmart-navigation menu-center navigation-style-default"
                 role="navigation">
              <div class="menu-primary-menu-container">
                <ul id="menu-primary-menu"
                    class="menu">
                  <li id="menu-item-25"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home page_item page-item-8 current_page_item menu-item-25 item-level-0 menu-item-design-default menu-simple-dropdown item-event-hover">
                    <a href="/"
                       class="woodmart-nav-link"><span class="nav-link-text">Home</span></a></li>
                  <li id="menu-item-24"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24 item-level-0 menu-item-design-default menu-simple-dropdown item-event-hover">
                    <a href="/about-us"
                       class="woodmart-nav-link"><span class="nav-link-text">About Us</span></a></li>
                  <!-- <li id="menu-item-22"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22 item-level-0 menu-item-design-default menu-simple-dropdown item-event-hover">
                    <a href="/services"
                       class="woodmart-nav-link"><span class="nav-link-text">Services</span></a></li>
                  <li id="menu-item-167"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-167 item-level-0 menu-item-design-default menu-simple-dropdown item-event-hover">
                    <a href="/volunteer"
                       class="woodmart-nav-link"><span class="nav-link-text">Volunteer</span></a></li>
                  <li id="menu-item-288"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-288 item-level-0 menu-item-design-default menu-simple-dropdown item-event-hover">
                    <a href="/donate"
                       class="woodmart-nav-link"><span class="nav-link-text">Donate</span></a></li>
                  <li id="menu-item-20"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20 item-level-0 menu-item-design-default menu-simple-dropdown item-event-hover">
                    <a href="/contact-us"
                       class="woodmart-nav-link"><span class="nav-link-text">Contact Us</span></a></li> -->
                </ul>
              </div>
            </div>
            <!--END MAIN-NAV-->
            <!-- <div class="whb-space-element "
                 style="width:30px;">
            </div>
            <div id="wd-5fbeb2df2b379" class="woodmart-button-wrapper text-right">
              <a href="http://borrowedtimeeap.com/contact-us/" title=""
                 class="btn btn-color-primary btn-style-default btn-shape-rectangle btn-size-default header-btn">Contact Us</a>
            </div> -->
          </div>
          <div class="whb-column whb-mobile-left whb-hidden-lg">
            <div class="site-logo">
              <div class="woodmart-logo-wrap">
                <a href="#" class="woodmart-logo woodmart-main-logo" rel="home">
                  <img src="./assets/img/borrowedtimeaeap-logo-01-1.png"
                       alt="Borrowed Time EAP"
                       style="max-width: 203px;">
                </a>
              </div>
            </div>
          </div>
          <div class="whb-column whb-mobile-center whb-hidden-lg whb-empty-column">
          </div>
          <div class="whb-column whb-mobile-right whb-hidden-lg">
            <div class="woodmart-burger-icon wd-tools-element mobile-nav-icon whb-mobile-nav-icon wd-style-icon">
              <a href="#">
                <span class="woodmart-burger wd-tools-icon"></span>
                <span class="woodmart-burger-label wd-tools-text">Menu</span>
              </a>
            </div>
            <!--END MOBILE-NAV-ICON-->
            <div class="whb-text-element reset-mb-10  text-element-inline"><a href="tel:2197980273"
                 style="color: #c89454"><i class="fa fa-phone"
                   aria-hidden="true"
                   style="color: #c89454"></i> Call
                Now</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
<!--END MAIN HEADER-->